body {
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  margin: 0px;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 0px;
}

.container {
  width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  visibility: hidden;
}

.list {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.link {
  color: #212121;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover, .link:focus {
  color: #2196f3;
}

.contact {
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact:hover, .contact:focus {
  color: #2196f3;
  -webkit-transition: translate(color);
  transition: translate(color);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  translate: transition;
}

::-webkit-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
}

::-moz-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
}

:-ms-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
}

.navigation-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0px;
}

.logo {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo-web {
  color: #2196f3;
}

.logo-studio {
  color: #000000;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 85px;
}

.site-nav li {
  margin-right: 50px;
}

.item:last-child {
  margin-right: 0px;
}

.item .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.item .current {
  color: #2196f3;
  position: relative;
}

.item .current::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.auth-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 305px;
}

.auth-nav .item + .item {
  margin-left: 30px;
}

.auth-nav .mail-svg {
  width: 16px;
  height: 11.2px;
  margin-right: 10px;
  fill: currentColor;
}

.auth-nav .tel-svg {
  width: 10px;
  height: 14.94px;
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  text-align: center;
  margin: auto;
  padding: auto;
  margin-bottom: 94px;
  width: 1600px;
  height: 600px;
  padding: 200px 480px 280px 480px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(0, 0, 0, 0.25))), url(../images/header-img.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(0, 0, 0, 0.25)), url(../images/header-img.jpg);
}

.hero-button {
  display: inline-block;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.06em;
  min-width: 200px;
  min-height: 50px;
  text-align: center;
  border-radius: 4px;
  padding: 10px 32px;
  border: 1px solid transparent;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:focus {
  background-color: rgba(47, 48, 58, 0.8);
}

.hero-title {
  color: #ffffff;
  margin-top: 0px;
  margin-bottom: 30px;
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-title {
  display: block;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
  font-family: Roboto;
  font-style: 400;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1px;
  letter-spacing: 0.03em;
}

form {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding-bottom: 20px;
  width: 448px;
  height: 324px;
}

.form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding-bottom: 28px;
}

.form-field .form-label {
  position: absolute;
  top: 12px;
  left: 42px;
  font-family: Roboto;
  font-style: 400;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  -webkit-transition: top 250ms cubic-bezier(0.4, 0, 0.2, 1), left 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: top 250ms cubic-bezier(0.4, 0, 0.2, 1), left 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:focus-within > .form-label {
  color: #2196f3;
  top: -25%;
  left: 16px;
  -webkit-transform: transition;
          transform: transition;
}

.form-field input {
  position: relative;
  width: 448px;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field input:hover {
  border: 1px solid #2196f3;
}

input:not(:placeholder-shown) + .form-label {
  color: #2196f3;
  top: -25%;
  left: 16px;
  -webkit-transform: transition;
          transform: transition;
}

.icon {
  position: absolute;
  top: 11px;
  left: 16px;
  width: 18px;
  height: 18px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:focus-within > .icon {
  fill: #2196f3;
  -webkit-transform: transition;
          transform: transition;
}

.form-field textarea {
  resize: none;
  width: 448px;
  height: 120px;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field textarea:hover {
  border: 1px solid #2196f3;
}

.checkbox {
  position: fixed;
  display: inline-block;
  margin-left: 51px;
  margin-right: 51px;
  width: 423px;
  height: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 0.6;
  letter-spacing: 0.03em;
}

.input-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
}

.icon-checkbox {
  position: absolute;
  top: 20%;
  left: 0%;
  display: inline-block;
  width: 16px;
  height: 15px;
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 2px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-checkbox:checked + .icon-checkbox {
  background-color: #2196f3;
  background-image: url(../../../images/vector.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
  border: 2px solid #2196f3;
  border-radius: 2px;
  -webkit-transform: transition;
          transform: transition;
}

.checkbox-comment {
  display: inline-block;
  padding-left: 21px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7px;
  letter-spacing: 0.03em;
}

.checkbox-comment .modal-link {
  color: #2196f3;
}

.to-send {
  position: absolute;
  bottom: 40px;
  left: 164px;
  width: 200px;
  height: 50px;
  cursor: pointer;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 0.5;
  letter-spacing: 0.06em;
}

.close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close:focus {
  fill: #2196f3;
  translate: transition;
}

.close-icon {
  width: 18px;
  height: 18px;
}

.element {
  margin-bottom: 94px;
}

.element div .section-title {
  margin-top: 0px;
  margin-bottom: 50px;
}

.element-advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.element-advantage li + li {
  margin-left: 30px;
}

.background-item p {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.background-item h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantage-svg {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  padding: 25px 100px;
  margin-bottom: 30px;
}

.service {
  margin-bottom: 94px;
}

.service div .services-title {
  margin-bottom: 50px;
}

.service ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
}

.service-item + .service-item {
  margin-left: 30px;
}

.service-item {
  position: relative;
}

.service-item .services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.service-item .services:hover, .service-item .services:focus {
  color: #2196f3;
  background-color: #2f303a;
}

.ouver-team {
  background-color: #f5f4fa;
  margin-bottom: 94px;
  padding-bottom: 94px;
  padding-top: 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ouver-team div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.ouver-team div .team-title {
  margin-bottom: 50px;
}

.ouver-team li + li {
  margin-left: 30px;
}

.name {
  margin-top: 30px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.position {
  margin-top: 10px;
  margin-bottom: 0px;
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px;
}

.social-list .john,
.social-list .marta,
.social-list .robert,
.social-list .martin {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.social-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0px;
  margin-top: 16px;
  margin-bottom: 24px;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:nth-child(-n + 3) {
  margin-right: 10px;
}

.social-link:hover, .social-link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.social-svg {
  fill: currentColor;
}

.flex-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 94px;
}

.flex-block div .clients-title {
  margin-bottom: 50px;
}

.flex-block ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-block ul li + li {
  margin-left: 30px;
}

.ouver-clients {
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ouver-clients:hover, .ouver-clients:focus {
  color: #2196f3;
}

.clients-svg {
  border: 1px solid #afb1b8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  fill: currentColor;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-svg:hover, .clients-svg:focus {
  border: 1px solid #2196f3;
}

.visit {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* justify-content: space-between; */
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-contact ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-contact ul li {
  margin-bottom: 10px;
}

.logo .foot-web {
  color: #2196f3;
}

.logo .foot-studio {
  color: #ffffff;
}

ul .adress-contact {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.foot-link {
  margin-left: 69px;
}

.call {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;
}

.foot-social {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 44px;
  height: 44px;
  color: white;
  border: none;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.foot-social:nth-child(-n + 3) {
  margin-right: 10px;
}

.foot-social:hover, .foot-social:focus {
  background-color: #2196f3;
}

.inst {
  background-color: #2f303a;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.face,
.twitt {
  background-color: #2f303a;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.linked-in {
  background-color: #2f303a;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 94px;
  width: 570px;
  height: 86px;
}

.subscribe-form .a-call {
  margin-bottom: 20px;
  color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.email-adress {
  position: relative;
}

.email-adress input {
  position: relative;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.email-adress label {
  position: absolute;
  top: 15px;
  left: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-button {
  position: absolute;
  top: 0px;
  left: 370px;
  width: 200px;
  height: 50px;
  padding-left: 29px;
  padding-right: 62px;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
  font-family: Roboto;
  font-style: 400;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.subscribe-button .icon-send {
  display: block;
  position: absolute;
  top: 13px;
  right: 28px;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url(../images/icon-send.svg);
}
/*# sourceMappingURL=main.css.map */