/* Цвет основного текста #212121 */
/* Цвет вторичного текста #757575 */
/* Белый #FFFFFF */
/* Акцент #2196F3 */

/* Вторичный цвет фона #F5F4FA */
/* фоновый цвет футера #2F303A */

/* Палитра цветов */
:root {
  --primery-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primery-background-color: #e5e5e5;
  --secondary-background-color: #f5f4fa;
  --white-color: #ffffff;
  --footer-color: #2f303a;
}
body {
  background-color: var(--white-color);
  font-family: Roboto, sans-serif;
  margin: 0px;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 0px;
}
.container {
  width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 1px solid black; */
}
.visually-hidden {
  visibility: hidden;
}

/* Стиллизация логотипа */
.logo-accent {
  color: var(--accent-color);
}
.logo-studio {
  color: #000000;
}
.logo {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.list {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}
/* Навигационные ссылки */
.site-nav {
  display: flex;
  margin-left: 85px;
}
.site-nav li {
  margin-right: 50px;
}
.site-nav .item:last-child {
  margin-right: 0px;
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.auth-nav {
  display: flex;
  margin-left: 305px;
}
.auth-nav .item + .item {
  margin-left: 30px;
}

.list .link.current {
  color: var(--accent-color);
  position: relative;
}
.list .link.current::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.list .link.portfolio-link::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.link {
  color: var(--primery-text-color);
  text-decoration: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-link {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}
.link:hover {
  color: var(--accent-color);
}
.link:focus {
  color: var(--accent-color);
}
.contact {
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact:hover {
  color: var(--accent-color);
  transition: translate(color);
}
.contact:focus {
  color: var(--accent-color);
  transition: translate(color);
}
.mail-svg {
  width: 16px;
  height: 11.2px;
  margin-right: 10px;
  fill: currentColor;
}
.tel-svg {
  width: 10px;
  height: 14.94px;
  margin-right: 10px;
  fill: currentColor;
}

/* Стиллизация Hero */
.hero {
  text-align: center;
  margin: auto;
  padding: auto;
  margin-bottom: 94px;

  padding: 200px 480px 280px 480px;

  width: 1600px;
  height: 600px;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(0, 0, 0, 0.25)
    ),
    url(../images/header-img.jpg);
}

.button-hero {
  display: inline-block;
  color: #ffffff;
  background-color: var(--accent-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.06em;
  min-width: 200px;
  min-height: 50px;
  text-align: center;
  border-radius: 4px;
  padding: 10px 32px;
  border: 1px solid transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-hero:focus {
  background-color: rgba(47, 48, 58, 0.8);
}

.title-hero {
  color: #ffffff;

  margin-top: 0px;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  translate: transition;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--white-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
form {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  /* outline: 2px solid tomato; */
  padding-bottom: 20px;
  width: 448px;
  height: 324px;
}
.modal-title {
  display: block;
  text-align: center;

  margin-top: 40px;
  margin-bottom: 30px;
  font-family: Roboto;
font-style: 400;
font-weight: 700;
font-size: 20px;
line-height: 1.1px;
letter-spacing: 0.03em;

}
.form-field {
  display: flex;
  flex-direction: column;
  position: relative;

  padding-bottom: 28px;
}
.form-field input {
  position: relative;
  width: 448px;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  /* appearance: none; */
}
.form-field:hover input {
  border: 1px solid var(--accent-color);
}

.form-field label {
  position: absolute;
  top: 12px;
  left: 42px;

  font-family: Roboto;
font-style: 400;
font-weight: 400;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.01em;
  transition: top 250ms cubic-bezier(0.4, 0, 0.2, 1),
    left 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field:focus-within > .form-label {
  color: var(--accent-color);
  top: -25%;
  left: 16px;
  transform: transition;
}
input:not(:placeholder-shown) + .form-label {
  color: var(--accent-color);
  top: -25%;
  left: 16px;
  transform: transition;
}
.icon {
  position: absolute;
  top: 11px;
  left: 16px;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field:focus-within > .icon {
  fill: var(--accent-color);
  transform: tarnsition;
}

.form-field textarea {
  resize: none;
  width: 448px;
  height: 120px;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.form-field:hover textarea {
  border: 1px solid var(--accent-color);
}
::-webkit-input-placeholder {font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;}
::-moz-placeholder          {font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;}
:-ms-input-placeholder      {font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;}


.checkbox {
  position: fixed;
  display: inline-block;

  margin-left: 51px;
  margin-right: 51px;
  width: 423px;
  height: 24px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 0.6;
  letter-spacing: 0.03em;
}
.input-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
}
.icon-checkbox {
  position: absolute;
  top: 20%;
  left: 0%;
  display: inline-block;
  width: 16px;
  height: 15px;

  background-color: white;
  border: 2px solid black;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-checkbox:checked + .icon-checkbox {
  background-color: var(--accent-color);
  background-image: url(../images/vector.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
  border: 2px solid var(--accent-color);
  border-radius: 2px;
  transform: transition;
}
.checkbox-comment {
 display: inline-block;
padding-left: 21px;
 
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.7px;
letter-spacing: 0.03em;

}
.modal-link {
  color: var(--accent-color);
}

.to-send {
  position: absolute;
  bottom: 40px;
  left: 164px;
  width: 200px;
  height: 50px;
  cursor: pointer;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 0.5;
  letter-spacing: 0.06em;
}
.close-button {
  display: flex;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;

  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:focus {
  fill: var(--accent-color);
  translate: transition;
}
.close-icon {
  width: 18px;
  height: 18px;
}

/* секция-наши преимущества */
.element {
  margin-bottom: 94px;
}
.element ul {
  display: flex;
}
.element li + li {
  margin-left: 30px;
}
.element .icons {
  margin-bottom: 30px;
}

.section-title {
  margin-top: 0px;
  margin-bottom: 50px;
}

.advantage,
.advantage-comment {
  margin-top: 0px;
  margin-bottom: 0px;
}
h3.advantage {
  color: var(--primery-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantage-svg {
  width: 270px;
  height: 120px;
  background-color: var(--secondary-background-color);
  padding: 25px 100px;
  margin-bottom: 30px;
}

.advantage-comment {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  /* or 171% */

  letter-spacing: 0.03em;
}

/* Секция- чем мы занимаеся */
.service ul {
  display: flex;
  padding-left: 0px;
}
.service-item + .service-item {
  margin-left: 30px;
}
figure {
  margin-top: 0px;
  margin-bottom: 0px;
}
.service {
  margin-bottom: 94px;
}
.services-title {
  margin-bottom: 50px;
}
.service-item {
  position: relative;
}
.services {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.services:hover {
  color: var(--accent-color);
  background-color: rgb(47, 48, 58);
}
.services:focus {
  color: var(--accent-color);
  background-color: rgb(47, 48, 58);
}
/* Секция- наша команда */
.team {
  margin-bottom: 50px;
}
.ouver-team {
  background-color: var(--secondary-background-color);
  margin-bottom: 94px;
  padding-bottom: 94px;
  padding-top: 94px;
  display: flex;
}
.ouver-team ul {
  display: flex;
  padding-left: 0px;
  justify-content: space-around;
}
.ouver-team li + li {
  margin-left: 30px;
}
.name {
  margin-top: 30px;
  color: var(--primery-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;
}

.position {
  margin-top: 10px;
  color: var(--title-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;
}
.social-list {
  display: flex;
  justify-content: center;
  padding: 0px;
}
.john,
.marta,
.robert,
.martin {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.social-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px;
  margin-top: 16px;
  margin-bottom: 24px;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  background-color: white;
  border: none;
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:nth-child(-n + 3) {
  margin-right: 10px;
}
.social-link:hover {
  background-color: var(--accent-color);
  color: var(--white-color);
}
.social-link:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}
.social-svg {
  fill: currentColor;
}

/* Стилизация footer */
.visit {
  background-color: var(--footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
/* Секция- Наши клиенты */
.flex-block {
  display: flex;
}
.flex-block ul {
  display: flex;
  justify-content: space-around;
}
.clients li + li {
  margin-left: 30px;
}
.clients {
  margin-bottom: 94px;
}
.clients-title {
  margin-bottom: 50px;
}
.ouver-clients {
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.ouver-clients:hover {
  color: var(--accent-color);
}
.ouver-clients:focus {
  color: var(--accent-color);
}

.clients-svg {
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  fill: currentColor;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-svg:hover {
  border: 1px solid var(--accent-color);
}
.clients-svg:focus {
  border: 1px solid var(--accent-color);
}

/* Стилизация логотипа в футере */
.test {
  display: flex;
  /* justify-content: space-between; */
  align-items: baseline;
}

.footer-contact {
  display: flex;
}
.footer-contact ul {
  display: flex;

  flex-direction: column;
}
.footer-contact li {
  margin-bottom: 10px;
}
.foot-link {
  margin-left: 69px;
}
.foot-link ul {
  display: flex;
  justify-content: center;
}

.web-foot {
  color: var(--accent-color);
}
.studio-foot {
  color: var(--white-color);
}

.adress-contact {
  color: var(--white-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  /* or 171% */

  letter-spacing: 0.03em;
}
.call {
  color: var(--white-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;
}

.author {
  color: rgba(255, 255, 255, 0.4);

  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  align-self: flex-end;
  /* or 200% */

  text-align: center;
  letter-spacing: 0.03em;
}
.foot-social {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 44px;
  height: 44px;
  color: white;
  border: none;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.foot-social:nth-child(-n + 3) {
  margin-right: 10px;
}
.foot-social.inst {
  background-color: var(--footer-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}
.foot-social.face {
  background-color: var(--footer-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.foot-social.linked-in {
  background-color: var(--footer-color);

  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.foot-social.twitt {
  background-color: var(--footer-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.foot-social:hover {
  background-color: var(--accent-color);
}
.foot-social:focus {
  background-color: var(--accent-color);
}
.subscribe-form {
  display: flex;
  flex-direction: column;
  margin: 65px 92px 101px 94px;
}
.email-adress {
  position: relative;
}
.a-call {
  margin-bottom: 20px;
  color: var(--white-color);

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.email-adress input {
  position: relative;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  background-color: var(--footer-color);
  color:  rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.email-adress label {
  position: absolute;
  top: 15px;
  left: 16px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.subscribe-button {
  position: absolute;
  top:0px;
  left:370px;
  width: 200px; 
  height: 50px;
  padding-left: 29px;
  padding-right: 62px;
  background-color: var(--accent-color);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--accent-color);
   border-radius: 4px;
cursor: pointer;
font-family: Roboto;
font-style: 400;
font-weight: 700;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.06em;
color: #FFFFFF;

}
.icon-send{
  display: block;
  position: absolute;
  top: 13px;
  right: 28px;
  width:24px;
  height:24px;
  margin-left: 10px;

  background-image: url(../images/icon-send.svg);


}
/* Стиллизация страницы "Портфолио" */
.navigation-portfolio {
  margin-bottom: 93px;
}
h1,
h2,
h3,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}
.gallery {
  display: flex;
  margin-bottom: 94px;
  /* outline: 1px solid tomato; */
}
.gallery .portfolio-item {
  display: flex;
  justify-content: center;
}
.gallery h1 {
  text-align: center;
}
/* Кнопки портфолио */
.portfolio-item li + li {
  margin-left: 8px;
  margin-bottom: 34px;
}

.portfolio-button {
  border-style: none;
  color: var(--primery-text-color);
  background-color: var(--secondary-background-color);
  cursor: pointer;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;
  min-width: 73px;
  min-height: 38px;
  border-radius: 4px;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-button:hover {
  background-color: var(--accent-color);
  color: var(--white-color);
}
.portfolio-button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

/* Стилизация галлереи */
.flex-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* outline: 1px solid black; */
}
.gallery-item {
  width: 370px;
  height: 404px;
  margin-right: 30px;
  margin-bottom: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.gallery-item:nth-child(3n) {
  margin-right: 0px;
}
.gallery-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.portfolio-title {
  margin-left: 24px;

  color: var(--primery-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;
}
.portfolio-service {
  margin-left: 24px;
  color: var(--title-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  /* identical to box height, or 187% */

  letter-spacing: 0.03em;
}
.product {
  margin-bottom: 20px;

  position: relative;
  overflow: hidden;
}
.overlay {
  display: flex;
  position: absolute;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--white-color);
  top: 0;
  left: 0;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery-item:hover .overlay {
  transform: translateY(0);
  opacity: 1;
}
.text-overlay {
  margin-left: 24px;
  margin-right: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  /* or 156% */

  letter-spacing: 0.03em;
}
