.auth-nav{
    display: flex;
    margin-left: 305px;
    .item + .item{
        margin-left: 30px;
    }
    .mail-svg 
        {width: 16px;
        height: 11.2px;
        margin-right: 10px;
        fill: currentColor;}
    .tel-svg 
        {width: 10px;
        height: 14.94px;
        margin-right: 10px;
        fill: currentColor;}
          }
