$primeryTextColor: #212121;
$titleTextColor:#757575;
$accentColor:#2196f3;
$primeryBackgroundColor: #e5e5e5;
$secondaryBackgroundColor:#f5f4fa;
$whiteColor:#ffffff;
$blackColor: #000000;
$footerColor:#2f303a;
$borderModalColor: rgba(0, 0, 0, 0.2);
$servicesColor: rgba(47, 48, 58, 0.8);
$gradient:  linear-gradient(to right,rgba(47, 48, 58, 0.8), rgba(0, 0, 0, 0.25));
$teamCardShadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$socialLinkColor: #afb1b8;
  


$logoFont: Raleway, sans-serif;
$mainFont: Roboto;


